GATEWAY_PORT=3000
NODE_ENV=development
LOG_LEVEL=info
JWT_SECRET=change-me-in-production-please

AUTH_GRPC_HOST=localhost
AUTH_GRPC_PORT=50051
TRANSACTION_GRPC_HOST=localhost
TRANSACTION_GRPC_PORT=50052
NOTIFICATION_GRPC_HOST=localhost
NOTIFICATION_GRPC_PORT=50053
